/*Grid-layout of the homepage (of the mobile version) with the mediaqueries which results in the tablet and desktop version.*/
.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(20px, auto);
	grid-gap: 0.3rem;
	grid-template-areas: 
		'header'
		'main'
		'planets'
		'arrival'
		'weather'
		'food';

}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

.planet-flexbox {
	grid-area: planets;
}

.arrival {
	grid-area: arrival;
}

.weather {
	grid-area: weather;
}

.food {
	grid-area: food;
}