/* link to import used fonts on the website */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Poppins:wght@300&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px; /* 1rem = 16px */
	color: rgb(255, 255, 255);
	background-color: rgb(20, 26, 44);
	margin-top: 0.3rem; /* (5*1/16) = 0.3125 staat voor 5px */
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.125rem; /* (18*1/16) = 1.125 staat voor 18px */
	text-transform: uppercase;
	letter-spacing: 0.5rem; /* 8px */
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
/*	margin-left: 1.25rem; (20*1/16) = 1.25 staat voor 20px
*/	margin-top: 1.2rem; /* (5*1/16) = 0.3125 staat voor 5px */
}

h3 {
	font-size: 0.875rem;/*(14*1/16)=0.875 staat voor 14px */
/*	margin-left: 2.18rem; (35*1/16) = 2.18 staat voor 35px*/
}

p {
	font-size: 0.75rem;
}

#myChart, #myChart2, #myChart3, #myChart4, #myChart5, #myChart6, #myChart7, #myChart8 {
	background-color: rgb(31, 41, 64);
	box-shadow:
 		0 0.1px 0.6px rgba(0, 0, 0, 0.025),
 	 	0 0.3px 1.3px rgba(0, 0, 0, 0.036),
 		0 0.5px 2.5px rgba(0, 0, 0, 0.045),
  		0 0.9px 4.5px rgba(0, 0, 0, 0.054),
  		0 1.7px 8.4px rgba(0, 0, 0, 0.065),
  		0 4px 20px rgba(0, 0, 0, 0.09)
	;
}

.container, .information, .flex{
	margin-top: 0.6rem;
}

.layout {
	background-color: rgb(31, 41, 64);
	display: none;

}

.text-layout, .green-text {
	margin-bottom: 0;
}


.flex {
	display: flex;
	justify-content: space-around;
}

.layout-Mars, .layout-Earth {
	background-color: rgb(31, 41, 64);
	width: 40vw;
	text-align: center;
}

.planet {
	padding: 0.3rem;
	max-width: 300px;
}

.layout-Mars p, .layout-Earth p {
	margin-bottom: 0;
}

.information {
	border: solid 0.18rem rgb(255, 255, 255);
	max-width: 400px;
	margin-bottom: 1.2rem;
}

.information p {
	text-align: center;
	margin: 0.2rem 0.9rem;
}

